@import "globals";


.add-meal-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.photo-upload-section {
  border: 2px solid #ccc;
  padding: 16px;
}
.photo-upload-section label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
.photo-upload-section input[type="file"] {
  display: block;
  margin-bottom: 16px;
}
.photo-preview {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  background-image: url("../images/dummy.png");
  background-size: cover;
  background-position: center;
}
.food-selection-section {
  flex: 1;
}
.food-selection-section input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.food-selection-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.food-selection-section li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
