@import "globals";


.meal-name {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  color: white;
}


.meal {
  border-bottom: 1px solid #ccc;

  .meal-header {
      background: $light-blue;
      display: flex;
      justify-content: space-between;
      align-items: center;


    .meal-calorie {
      color: white;
      margin-right: 10px;
    }
  }
}


.add-food-label {
  cursor: pointer;
  text-decoration: underline;
  margin: auto 5000px;
}
.sc-ion-label-md-s>p {
  color: $light-blue;
  font-size: 18px;
  font-weight: bold;

}

.meals-container{
  display: flex;
  flex-direction: column;
}